[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
thoth-common = "*"
openshift = "~=0.10.0"
kubernetes = "==10.0.0"
click = "*"
pyyaml = "*"

[requires]
python_version = "3.6"
